<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @ordering_link.url %>
</p>

<%= link_to 'Edit', edit_ordering_link_path(@ordering_link) %> |
<%= link_to 'Back', ordering_links_path %>
