 <!--begin footer -->
    <div class="footer">
        <!--begin container -->
        <div class="container">
            <!--begin row -->
            <div class="row">
                <!--begin footer-bottom -->
                <div class="footer-bottom">
                    <!--begin col-md-5 -->
                    <div class="col-md-5">
                        <!--begin copyright -->
                        <div class="copyright ">
                            <p>© 2016 Fable. Designed by <%= link_to 'The Cookie Dining', 'http://thecookiedining.com', target: "_blank" %></p>
                        </div>
                        <!--end copyright -->
                    </div>
                    <!--end col-md-5 -->
                    <!--begin col-md-2 -->
                    <div class="col-md-2 text-center">
                    	<a href="#hero-section" class="scrool top-scroll"><i class="fa fa-angle-double-up"></i></a>
                    </div>
                    <!--end col-md-2 -->
                </div>
                <!--end footer-bottom -->
            </div>
            <!--end row -->
        </div>
        <!--end container -->
    </div>
    <!--end footer -->