 <!--begin header -->
    <header class="header">
        <!--begin nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <!--begin container -->
            <div class="container">
                <!--begin navbar -->
                <div class="navbar-header">
                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to root_path, class: "navbar-brand brand scroll" do %>
                        <%= image_tag 'logo.png', class: "width-100" %>
                    <% end %>
                </div>
                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                    
                </div>
                <!--end navbar -->
            </div>
    		<!--end container -->
        </nav>
    	<!--end nav -->
    </header>
    <!--end header -->