 <%= render 'pages/header' %>
 <!--begin about-hero-section -->
    <section id="hero-section" class="about-hero-section">
    
        <!--begin image-overlay -->
        <div class="image-overlay"></div>
        <!--end image-overlay -->
            
        <!--begin container-->
        <div class="container image-section-inside">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-10-->
                <div class="col-md-10 col-md-offset-1 text-center">
                
                    <span class="comic-text wow fadeIn" data-wow-delay="0.5s">True Passion</span>
                    
                    <h2 class="section-title white wow bounceIn" data-wow-delay="1s">Natural Flavours</h2>
                    
                    <p class="hero-text wow fadeInUp" data-wow-delay="2s">Opened in February 2016, La Cuisine is the largest restaurants in London.<br>A bustling atmospheric restaurant, with a huge open kitchen.</p>
                    
                </div>
                <!--end col-md-10-->
            
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->    
        
    </section>
    <!--end about-hero-section -->
    
    <!--begin section-white-->
    <section class="section-white">
    
      <!--begin container-->
      <div class="container"> 

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
                <div class="col-md-6 wow slideInLeft">
                                    
                    <img src="images/a15.jpg" alt="picture" class="width-100">
                                    
                </div>
                <!--end col-md-6-->
                
                <!--begin col-md-6-->
                <div class="col-md-6 text-center padding-top-40 padding-bottom-40 wow slideInRight">
            
                    <span class="comic-text">Discover</span>
                    
                    <h2 class="section-title">Best Recipes</h2>
                    
                    <p>Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur adipiscing elit rutrum eleif arcu sit aspernatur nets fugit, sed quia.</p>
                    
                    <a href="#" class="btn btn-lg btn-yellow scrool">OUR RECEIPES</a>
                
                </div>
                <!--end col-md-6-->
                 
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
        
    </section>
    <!--end section-white-->
    
    
    <div id="rev_slider_30_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="media-carousel-autoplay30" style="margin:0px auto;background-color:#fff;padding:0px;margin-top:0px;margin-bottom:0px;">
        
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_30_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            
            <ul>	
                
                <!-- SLIDE  -->
                <li data-index="rs-122" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Real Webdesign" data-param1="Regular Image" data-description="">
                	
                    <!-- MAIN IMAGE -->
                	<img src="images/rs-images/team3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    
                </li>
                
                <!-- SLIDE  -->
                <li data-index="rs-122" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Real Webdesign" data-param1="Regular Image" data-description="">
                	
                    <!-- MAIN IMAGE -->
                	<img src="images/rs-images/team2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    
                </li>
                
                <!-- SLIDE  -->
                <li data-index="rs-122" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Real Webdesign" data-param1="Regular Image" data-description="">
                	
                    <!-- MAIN IMAGE -->
                	<img src="images/rs-images/team1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    
                </li>
                
                <!-- SLIDE  -->
                <li data-index="rs-122" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Real Webdesign" data-param1="Regular Image" data-description="">
                	
                    <!-- MAIN IMAGE -->
                	<img src="images/rs-images/team4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    
                </li>
                
            </ul>
            
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
            
        </div>
        
    </div><!-- END REVOLUTION SLIDER -->
        
    <!--begin section-white-->
    <section class="section-white small-padding no-padding-bottom">
    
      <!--begin container-->
      <div class="container"> 

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
                <div class="col-md-6 text-center padding-top-50 padding-bottom-50 wow slideInLeft">
            
                    <span class="comic-text">Discover</span>
                    
                    <h2 class="section-title">Our Chefs</h2>
                    
                    <p>Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur adipiscing elit rutrum eleif arcu sit aspernatur nets fugit, sedit quiadused fuscentinusad sagittis odio magna, in ultricies ex tincidunt.</p>
                    
                    <img src="images/menu-logo.png" alt="picture">
                
                </div>
                <!--end col-md-6-->
                
                <!--begin col-md-6-->
                <div class="col-md-6 wow slideInRight">
                                    
                    <img src="images/chef1.jpg" alt="picture" class="width-100">
                                    
                </div>
                <!--end col-md-6-->
                 
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
        
    </section>
    <!--end section-white-->
    
    <%= render 'pages/footer' %>