<%= render 'pages/header' %>
<!--begin section-white-->
<section class="section-white" style="margin-top: 70px;">
    <% @ordering_links.each do |f| %>
        <iframe width="100%" height="1200" src="<%= f.url %>" frameborder="0" allowfullscreen>
        </iframe>
    <% end %>
</section>
<!--end section-white-->