<!--begin footer -->
    <div class="footer" style="margin-top: 110px;">
        <!--begin container -->
        <div class="container">
            <!--begin row -->
            <div class="row footer-top">
                <!--begin col-md-3 -->
                <div class="col-md-12 padding-bottom-50">
                	<h4>RestyCMS -- V0.1 -- Copyright The Cookie</h4>
                    
                </div>
                <!--end col-md-3 -->
               
               
                
            </div>
            <!--end row -->
           
        </div>
        <!--end container -->
    </div>
    <!--end footer -->
